{% extends 'base.html.twig' %}

{% block title %}Hello ContestController!{% endblock %}

{% block body %}
    <br><br>

    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <table id="datatable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Проводит</th>
                            <th>Условия розыгрыша</th>
                            <th>Гланый приз</th>
                        </tr>
                        </thead>


                        <tbody>
{#                        {% for key, item in data %}#}

                        <tr>
                            <td></td>
                        </tr>

{#                        {% endfor %}#}
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->


{% endblock %}
